node_modules
dist
*.log

# Ignore runtime uploaded files
/server/data/

# Frontend build output
/web/build/

# Docker
docker-compose.override.yml

# Environment files
.env
.env.local
.env.*.local

# Large binary assets
commonChineseFonts.tar

# IDEs
.vscode/
.idea/
